* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Arial;
}


h1,h2 {
    color:#4c4fad;
}

h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
p {
    color:#5063b2;
    font-size: 16px;
    text-align: justify;
}

.html-logo {
    text-align: justify;
    font-size: 25px;
    color: chocolate;
    margin-bottom: 10px;
}

.css-logo {
    text-align: justify;
    font-size: 25px;
    color: cornflowerblue;
}
.author-text {
    color: midnightblue;
    float: left;
    margin-top: 60px;
    margin-left: 15px;
}

.container {
    width: 1140px;
    margin: 20px,auto,0,auto
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 25px;
    padding-left: 25p

}

.other-posts {
    width: 25%;
    float: right;

}

.author-box {
    padding-top: 20px;
    border-top: 1px solid #404040;
}



.other {
    margin-bottom: 40px;
}

.author-box img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
}

.blog-post img {
    height: 140px;
    width: auto;
    float:left;
}
